<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>controller.common.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.customer.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInformation</servlet-name>
        <servlet-class>controller.common.PersonalInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.common.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.common.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentList</servlet-name>
        <servlet-class>controller.free.DocumentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPage</servlet-name>
        <servlet-class>controller.free.LandingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDetailed</servlet-name>
        <servlet-class>controller.free.DocumentDetailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeMarketing</servlet-name>
        <servlet-class>controller.marketing.HomeMarketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.marketing.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>controller.marketing.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBlogStatus</servlet-name>
        <servlet-class>controller.marketing.ChangeBlogStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailed</servlet-name>
        <servlet-class>controller.marketing.BlogDetailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.marketing.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>controller.marketing.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAdminControl</servlet-name>
        <servlet-class>controller.admin.AddUserAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.admin.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserControll</servlet-name>
        <servlet-class>controller.admin.EditUserControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailControl</servlet-name>
        <servlet-class>controller.admin.UserDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListControl</servlet-name>
        <servlet-class>controller.admin.UserListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.admin.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>controller.free.ActivateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInformation</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentList</servlet-name>
        <url-pattern>/DocumentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingPage</servlet-name>
        <url-pattern>/LandingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDetailed</servlet-name>
        <url-pattern>/DocumentDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeMarketing</servlet-name>
        <url-pattern>/HomeMarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBlogStatus</servlet-name>
        <url-pattern>/ChangeBlogStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailed</servlet-name>
        <url-pattern>/BlogDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/UpdateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAdminControl</servlet-name>
        <url-pattern>/AddUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserControll</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailControl</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListControl</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
