<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>controller.common.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.customer.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInformation</servlet-name>
        <servlet-class>controller.common.PersonalInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.common.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.common.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentList</servlet-name>
        <servlet-class>controller.free.DocumentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPage</servlet-name>
        <servlet-class>controller.free.LandingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDetailed</servlet-name>
        <servlet-class>controller.free.DocumentDetailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeMarketing</servlet-name>
        <servlet-class>controller.marketing.HomeMarketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.marketing.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>controller.marketing.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBlogStatus</servlet-name>
        <servlet-class>controller.marketing.ChangeBlogStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailed</servlet-name>
        <servlet-class>controller.marketing.BlogDetailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.marketing.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>controller.marketing.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAdminControl</servlet-name>
        <servlet-class>controller.admin.AddUserAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.admin.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserControll</servlet-name>
        <servlet-class>controller.admin.EditUserControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailControl</servlet-name>
        <servlet-class>controller.admin.UserDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListControl</servlet-name>
        <servlet-class>controller.admin.UserListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.admin.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>controller.free.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>controller.expert.QuizListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeExpertController</servlet-name>
        <servlet-class>controller.expert.HomeExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizController</servlet-name>
        <servlet-class>controller.expert.DeleteQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizController</servlet-name>
        <servlet-class>controller.expert.AddQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.expert.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizController</servlet-name>
        <servlet-class>controller.expert.EditQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>controller.expert.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>controller.expert.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportQuestionController</servlet-name>
        <servlet-class>controller.expert.ImportQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionInListController</servlet-name>
        <servlet-class>controller.expert.AddQuestionInListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>controller.manager.AddSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSubjectStatus</servlet-name>
        <servlet-class>controller.manager.ChangeSubjectStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubject</servlet-name>
        <servlet-class>controller.manager.DeleteSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeManager</servlet-name>
        <servlet-class>controller.manager.HomeManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailed</servlet-name>
        <servlet-class>controller.manager.SubjectDetailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>controller.manager.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubject</servlet-name>
        <servlet-class>controller.manager.UpdateSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetailController</servlet-name>
        <servlet-class>controller.expert.QuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlideList</servlet-name>
        <servlet-class>controller.marketing.SlideList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSlideStatus</servlet-name>
        <servlet-class>controller.marketing.ChangeSlideStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlide</servlet-name>
        <servlet-class>controller.marketing.AddSlide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlide</servlet-name>
        <servlet-class>controller.marketing.UpdateSlide</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInformation</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentList</servlet-name>
        <url-pattern>/DocumentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingPage</servlet-name>
        <url-pattern>/LandingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDetailed</servlet-name>
        <url-pattern>/DocumentDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeMarketing</servlet-name>
        <url-pattern>/HomeMarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBlogStatus</servlet-name>
        <url-pattern>/ChangeBlogStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailed</servlet-name>
        <url-pattern>/BlogDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/UpdateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAdminControl</servlet-name>
        <url-pattern>/AddUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserControll</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailControl</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListControl</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/QuizList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeExpertController</servlet-name>
        <url-pattern>/HomeExpert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizController</servlet-name>
        <url-pattern>/DeleteQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizController</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizController</servlet-name>
        <url-pattern>/EditQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/EditQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportQuestionController</servlet-name>
        <url-pattern>/ImportQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionInListController</servlet-name>
        <url-pattern>/AddQuestionInList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/AddSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSubjectStatus</servlet-name>
        <url-pattern>/ChangeSubjectStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubject</servlet-name>
        <url-pattern>/DeleteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeManager</servlet-name>
        <url-pattern>/HomeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailed</servlet-name>
        <url-pattern>/SubjectDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/SubjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubject</servlet-name>
        <url-pattern>/UpdateSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetailController</servlet-name>
        <url-pattern>/QuizDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlideList</servlet-name>
        <url-pattern>/SlideList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSlideStatus</servlet-name>
        <url-pattern>/ChangeSlideStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlide</servlet-name>
        <url-pattern>/AddSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlide</servlet-name>
        <url-pattern>/UpdateSlide</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
